nav ul {
    margin: 0px auto;
}

nav ul li {
    display: inline-block;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    padding: 10px 20px;
    margin: 0;
}

nav ul li button {
    color: rgb(219, 201, 201);
    text-decoration: none;
    background: none;
    border-width: 0px;
    font-size: 1.4rem;
    cursor: pointer;
}

nav ul li button:hover {
    color: yellow;
}